<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Devcamp Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.is_a?(User) %>
    <%= button_to 'logout', destroy_user_session_path , method: :delete%>
    <% else %>
    <%= link_to 'register', new_user_registration_path %>
    <%= link_to 'login', new_user_session_path %>
    <% end %>
    <%= yield %>
    <% if session[:source] %>
    <p>Thanks for visiting me from <%= session[:source]%></p>
    <% end %>
  </body>
</html>
